/* Login
----------------------------------------------------------*/

body   
{
	font-size: 0.9em;
     font: 15px Avenir;
    margin: 0em;
    padding: 0px;
   height:80% rem;
    width: 100%;
    background-color: #fff;
    background-image:url(../images/fondo_web.jpg);
    background-repeat: repeat-y;
    background-position: 70%  top;
    background-attachment: inherit;
    background-size: contain;
    border: 1px solid #A8CF38;
    
  }
.login {
    margin:200em 300 0 -200em;
    top: 46%;
    left: 46%;
    position: inherit;
    width: 100%;
    * height:auto rem;
    *margin: -225em 0 0 -200em;
     border-radius: 50px 20px 50px;
  box-shadow: 5px 5px 5px 0px rgba(12,0,8,0.35);
      }

.logo {
    text-align: center;
     padding:1em;
    height:100%;
    width:100%;
    
}

h2
{
    font-size: 1.5em;
    color: #A8CF38;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-position:center;
}


.footer
{
	color: #FFFFFF;
	padding: 8px 0px 0px 0px;
	margin: 0px auto;
	text-align: center;
	line-height: normal;
}

/*----------------------------------------------- fin login----------------------------------------------------------*/








