<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NtLinkLocalServiceEntities" connectionString="metadata=res://*/NtLinkLocalModel.csdl|res://*/NtLinkLocalModel.ssdl|res://*/NtLinkLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JORGE-PC;Initial Catalog=NominaNtLink;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
