<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificador" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CertificadorWs33/CertificadorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador"
                contract="NtLinkService.ICertificador" name="BasicHttpBinding_ICertificador" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
